extends layout

block head
  link(rel='stylesheet', href='/stylesheets/customer_page.css')
  link(rel='stylesheet', href='/stylesheets/jquery.Jcrop.min.css')

block content
  script.
    adminBoolean = #{admin};
    currentUsername = "#{username}";
  #mainContainer
    #hudContainer
      if admin
        p
          | Welcome, #{username} <strong>(Admin)</strong>
      else
        p
          | Welcome, #{username}

      button(id="logout") Log Out
    #contentContainer
      #content
        button(id="filter") Filter
        #bookShelf
      if admin
        .imagePreview(style="display:none")
          img(id="preview")
        .hiddenForm#new_customer_form(style="display: none;")
          .updateContainer
            label(class="updateLabel")
          .inputLines
            label(for="username" class="inputLineLabels") Username:
            input(type="text", id="username", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="password" class="inputLineLabels") Password:
            input(type="password", id="password", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="first_name" class="inputLineLabels") First Name:
            input(type="text", id="first_name", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="last_name" class="inputLineLabels") Last Name:
            input(type="text", id="last_name", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="street" class="inputLineLabels") Street:
            input(type="text", id="street", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="city" class="inputLineLabels") City:
            input(type="text", id="city", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="state" class="inputLineLabels") State:
            input(type="text", id="state", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="zip" class="inputLineLabels") Zip:
            input(type="text", id="zip", style="display: inline-block;", class="formTextbox")
          .inputLines
            label(for="email" class="inputLineLabels") Email:
            input(type="text", id="email", style="display: inline-block;", class="formTextbox")
          .checkboxInputLine
            input(type="checkbox", id="admin")
            label(for="admin" class="checkBoxLabel") Admin
          button(id="submit_new_customer" class="optionButtons hiddenFormButtons") Sumbit New Customer
          button(class="optionButtons hiddenFormButtons cancel") Cancel
        .hiddenForm#new_book_form(style="display: none;")
          .updateContainer
            label(class="updateLabel")
          form(id="new_book_form" enctype="multipart/form-data" method="post" action="/new_book"
            onsubmit="return checkNewBookForm()")
            input(type="hidden" name="x1" id="x1")
            input(type="hidden" name="y1" id="y1")
            input(type="hidden" name="x2" id="x2")
            input(type="hidden" name="y2" id="y2")
            .inputLines
              label(for="isbn" class="inputLineLabels") ISBN:
              input(type="text", name="isbn", id="isbn", style="display: inline-block;", class="formTextbox")
            .inputLines
              label(for="title" class="inputLineLabels") Title:
              input(type="text", name="title", style="display: inline-block;", class="formTextbox")
            .inputLines
              label(for="author" class="inputLineLabels") Author:
              input(type="text", name="author", style="display: inline-block;", class="formTextbox")
            .inputLines
              label(for="description" id="descriptionBoxLabel") Description:
              textarea(id="description", name="description", style="display: inline-block;", class="formTextbox descriptionBox", rows=5, columns=30)
            .inputLines
              label(for="genre" class="inputLineLabels") Genre:
              input(type="text", name="genre", style="display: inline-block;", class="formTextbox")
            .inputLines
              label(for="copies" class="inputLineLabels") Copies:
              input(type="text", id="copies", name="copies", style="display: inline-block;", class="formTextbox")
            .inputLines
              label(for="cover" class="inputLineLabels") Cover Image:
              input(type="file", name="cover", id="cover", onchange="fileSelectHandler()");
            button(type="submit" id="submit_new_book" class="optionButtons hiddenFormButtons") Sumbit New Book
            button(class="optionButtons hiddenFormButtons cancel") Cancel
      #options
        #optionsLabel
          | Options
          button(id="list_books" class="optionButtons") Show All Books
        if admin
          button(id="list_users" class="optionButtons") Show All Users
          button(id="new_book" class="optionButtons") Add New Book
          button(id="new_customer" class="optionButtons") Add New Customer

  script(src="/js/jquery.form.js")
  script(src="/js/jquery.Jcrop.min.js")
  script(src='/js/customer.js')
